@import "../helpers/variable";

/*Custom card*/
.cardSize {
  width: size(320);
}

.fullWidth {
  width: $full-width;
}

.redTag {
  background-color: $redbadge;
  border-radius: size(80);
  color: $white;
  font-size: size(14);
  line-height: size(14);
  padding: size(5) size(18);
  display: inline-block;
  margin-top: 0;
}

.card {
  background: $white;
  box-shadow: $c-shadow;
  border-radius: $border-radius-small;
  border: 0;

  &.borderLeft {
    border-left: size(8) solid $color-primary;
    width: 100%;
    padding: 0;
  }

  .card-header {
    padding: size(15) size(18);
    margin-bottom: 0;
    background-color: $white;
    border-bottom: 1px solid $lightblack;
    font-weight: 600;
    font-size: size(20);
    color: $white;
    border-bottom: 0;
    border-top-right-radius: $border-radius-small;
    border-top-left-radius: $border-radius-small;

    &.steel {
      background: $prodsteel;
    }

    &.purple {
      background: $prodppurple;
    }

    &.green {
      background: $prodgreen;
    }
  }

  .card-body {
    padding: size(18);
    display: flex;
    justify-content: start;
    flex-flow: row;

    img {
      margin: 0 size(25) 0 size(10);
      vertical-align: middle;
    }

    .body-content {
      width: 70%;

      .small-heading {
        font-size: size(12);
        color: $lightgray;
      }

      .heading {
        margin: 0;

        b {
          font-weight: 600;
          font-size: size(20);
          line-height: size(27);
          color: $black-base;
          display: block;
        }
      }

      .sub-heading {
        font-size: size(16);
        line-height: size(22);
        color: $lightgray;
        margin-top: size(5);
        margin-bottom: 0;

        & img {
          margin: 0;
        }

        & small {
          font-size: size(13);
        }

        & .tags {
          line-height: size(6);
        }
      }
    }

    .content-right {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & .circlePercent {
        margin: 0;
      }

      & a {
        margin-left: size(30);
        font-weight: 600;
        font-size: size(16);
        color: $color-primary;
      }
    }
  }

  .card-footer {
    background-color: $footer;
    font-size: size(12);
    text-align: center;
    padding: size(9);
    border-radius: size(0) size(0) size(4) size(4);
    border-top: 0;
  }
}